[core]
	editor = vim
[alias]
	m = checkout master
	main = checkout main
	r = rebase
	rom = rebase origin/master
	romain = rebase origin/main
	rc = rebase --continue
	co = checkout
	br = branch
	del = branch -D
	brf = for-each-ref --sort=-committerdate --count=5 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	ci = commit
	st = status
	fv = fetch -v
	pullup = pull --set-upstream
	pushup = push --set-upstream
	undo = reset --soft HEAD^1
	pop = stash pop --index
	logo = log --oneline
	undo = reset --soft HEAD^1
	sv = stash -k -m "quick-save"
	list = stash list
	peek = stash show
	untrack = update-index --skip-worktree
[pull]
	rebase = false
