[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	fv = fetch -v
	pullup = pull --set-upstream
	pushup = push --set-upstream
	undo = reset --soft HEAD^1
	pop = stash pop --index
	logo = log --oneline
	undo = reset --soft HEAD^1
	sv = stash -k -m "quick-save"
	list = stash list
	peek = stash show
	untrack = update-index --skip-worktree
[pull]
	rebase = false
